[Desktop Entry]
Type=Application
Exec=/usr/local/bin/fusuma -d
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=fusuma
Name=fusuma
Comment[en_IN]=
Comment=

