[Desktop Entry]
Type=Application
Exec=/home/hritwik/.conky/conky-startup.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
# You can use below also for delay
# Exec=bash -c "sleep 7 && /home/hritwik/.conky/conky-startup.sh"

Name[en_IN]=Conky
Name=Conky
Comment[en_IN]=
Comment=
