[Desktop Entry]
Type=Application
# Exec="/usr/bin/fusuma -d"
# You can use below also for running two commands in one line
Exec=sh -c "killall fusuma; sleep 1; /usr/bin/fusuma -d"

Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=fusuma
Name=fusuma
Comment[en_IN]=
Comment=

