[Desktop Entry]
Type=Application
Exec=nemo-desktop
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=nemo
Name=nemo
Comment[en_IN]=
Comment=
